@page
@model Sawmill.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Змінити</h1>

<h4>Замовлення</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.OrderId" class="form-group">
                <label asp-for="Order.Замовник" class="control-label"></label>
                <input asp-for="Order.Замовник" class="form-control" value=@User.Identity?.Name />
                <span asp-validation-for="Order.Замовник" class="text-danger"></span>
            </>
            <div class="form-group">
                <label asp-for="Order.Назва" class="control-label"></label><b>(виберіть)</b>
                <select asp-for="Order.Назва" class="form-control">

                    <option>Балка</option>
                    <option>Кроква</option>
                    <option>Лата</option>
                    <option>Дошка</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Order.Висота" class="control-label"></label><b>(мм)</b>
                <input asp-for="Order.Висота" class="form-control" />
                <span asp-validation-for="Order.Висота" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Ширина" class="control-label"></label><b>(мм)</b>
                <input asp-for="Order.Ширина" class="form-control" />
                <span asp-validation-for="Order.Ширина" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Довжина" class="control-label"></label><b>(м)</b>
                <input asp-for="Order.Довжина" class="form-control" />
                <span asp-validation-for="Order.Довжина" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Кількість" class="control-label"></label><b>(шт)</b>
                <input asp-for="Order.Кількість" class="form-control" />
                <span asp-validation-for="Order.Кількість" class="text-danger"></span>
            </div>
            <div class="form-group">
               @*  <label asp-for="Order.Ціна" class="control-label"></label><b>(грн)</b> *@
                <input type="hidden" asp-for="Order.Ціна" class="form-control" />
                <span asp-validation-for="Order.Ціна" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Повернутись до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
