body {
    background-image: url(/images/Фон_2.jpg);
    background-size: cover; /* Зображення розтягується, щоб покрити весь екран */
    background-position: center; /* Центрує зображення по горизонталі та вертикалі */
    background-repeat: no-repeat; /* Запобігає повторенню зображення */
    margin: 0;
    padding: 0;
    overflow: auto;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.button {
    font-family: Arial;
    text-decoration: none;
    position: relative;
    display: inline-block;
    top: 20%;
    cursor: pointer;
}

.button_text {
    position: relative;
    height: 18%;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 30px;
    font-size: 1.5vw;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 1s ease 0s;
    top: 0px;
    overflow: hidden;
    align-items: center;
}

    .button_text:before,
    .button_text:after {
        content: ' ';
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: lightgray;
    }

    .button_text:before {
        left: 0;
        z-index: 2;
    }

    .button_text:after {
        right: 0;
    }

    .button_text span {
        position: relative;
        z-index: 2;
    }

.button:hover .button_text:before,
.button:hover .button_text:after {
    background-color: aqua;
}

.button:hover .button_text {
    top: -3px;
    color: firebrick;
    transition: all 0.5s ease 0.2s;
    box-shadow: 0 5px 0px 0 #0c5b56;
}

.button:active .button_text {
    top: 2px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0px 0 #0c5b56;
}

.row {
    margin: auto;
    width: 80%;
    border-radius: 5px;
    border: 1px solid aqua;
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    box-shadow: 10px 10px 30px aqua;
}

.outside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid white; /* Ширина, тип і колір рамки */
    padding: 5px; /* Внутрішні відступи */
}

    .outside:hover {
        background-color: burlywood;
        border: 2px solid black;
    }

        .outside:hover .inside_text {
            color: black;
        }

        .outside:hover .inside {
            border: 2px solid black;
        }

.inside {
    width: 100%;
    margin: 8% auto;
    border: 2px solid white; /* Ширина, тип і колір рамки */
    padding: 5px; /* Внутрішні відступи */
    margin: 0px; /* Зовнішні відступи */
}

.inside a {
    font-size: 50px;
    color: antiquewhite;
}

.inside_text {
    position: relative;
    color: antiquewhite;
    font-size: 2vw;
}

.image_ins {
    max-width: 100%;
    max-height: 160px;
}

.prod {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два стовпці рівної ширини */
    gap: 10px; /* Відстань між стовпцями */
}
@media (max-width: 480 px) {
    .prod {
        display: block !important;
        width: 100% !important;
    }
}

.top {
    display: flex;
    justify-content: space-between; /* Розміщує блоки 1 і 2 в ряд */
}
