body {
    background-image: url(/images/Зруб_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
th, td {
    padding: 10px;
}

th {
    background-color: Moccasin;
    border: 5px solid gray;
}

table {
    border: 5px solid gray;
    text-align: center;
}