@page
@model IndexModel
@{
    ViewData["Title"] = "Домашня сторінка";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/Media.css">
    <style>
       

    </style>
    
</head>
<body>
    <video autoplay loop muted>
        <source src="/images/Порізка.mp4" type="video/mp4" />
    </video>

    <div class="text-center">

        @if (User.Identity != null)
        {
            if (User.Identity.IsAuthenticated && User.Identity.Name != "Admin@ukr.net")
            {
                <div class="row">
                    <h2 class="display-4" style="font-style: unset; color:aqua "><b>Вітаємо на сайті замовлень пиломатеріалів</b></h2>
                </div>
                
                <div class="row prod">
                    <div class="outside">
                        <div style="width:100%">
                            <img src="/images/Балки.jpg" class="image_ins" />
                        </div>
                        <div class="inside">
                            <div>
                               <span class="inside_text"> Щоб замовити брус та обрати розміри і кількість натисніть кнопку замовити.</span>
                            </div>
                            <div>
                                <a href="Orders/Create" class="button">
                                    <span class="button_text">
                                        <span><b>Замовити</b></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="outside">
                        <div style="width:100%">
                            <img src="/images/Крокви.jpg" class="image_ins" />
                        </div>
                        <div class="inside">
                            <div>
                                <span class="inside_text"> Щоб замовити крокви та обрати розміри і кількість натисніть кнопку замовити.</span>
                            </div>
                            <div>
                                <a href="Orders/Create" class="button">
                                    <span class="button_text">
                                        <span><b>Замовити</b></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="outside">
                        <div style="width:100%">
                            <img src="/images/Лати.jpg" class="image_ins" />
                        </div>
                        <div class="inside">
                            <div>
                               <span class="inside_text"> Щоб замовити лати та обрати розміри і кількість натисніть кнопку замовити.</span>
                            </div>
                            <div>
                                <a href="Orders/Create" class="button">
                                    <span class="button_text">
                                        <span><b>Замовити</b></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="outside">
                        <div style="width:100%">
                            <img src="/images/Дошки.jpg" class="image_ins" />
                        </div>
                        <div class="inside">
                            <div>
                               <span class="inside_text"> Щоб замовити дошки та обрати розміри і кількість натисніть кнопку замовити.</span>
                            </div>
                            <div>
                                <a href="Orders/Create" class="button">
                                    <span class="button_text">
                                        <span><b>Замовити</b></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="outside">
                        <div style="width:100%">
                            <img src="/images/Циліндр.jpg" class="image_ins" />
                        </div>
                        <div class="inside">
                            <div>
                               <span class="inside_text"> Щоб замовити брус оциліндрований та обрати розміри і кількість натисніть кнопку замовити.</span>
                            </div>
                            <div>
                                <a href="Orders/Create" class="button">
                                    <span class="button_text">
                                        <span><b>Замовити</b></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <h2 class="display-4" style="font-style: unset; color:aqua "><b>Вітаємо на сайті замовлень пиломатеріалів</b></h2>
                <ul class="text-sm-start" style="margin-top: 20px">
                    <li><a asp-page="./Admin/Index"><h4 style="font-style: unset; text-decoration: none; color:aqua">Переглянути замовлення</h4></a></li>
                    <li><a asp-page="./AdminNumbers/Index"><h4 style="font-style: unset; color:aqua">Опрацювати замовлення</h4></a></li>
                    <li><a asp-page="./Prices/Index"><h4 style="font-style: unset; color:aqua">Встановити або змінити ціну</h4></a></li>
                    <li><a asp-page="./Services/Index"><h4 style="font-style: unset; color:aqua">Додати вид послуг</h4></a></li>
                </ul>
            }
            else
            {
                <div class="row">
                    <h4 class="display-6" style="font-style: unset; color:aqua "><b>Вітаємо на сайті замовлень пиломатеріалів</b></h4>
                    <h6 class="display-6" style="font-style: unset; color:aqua "><b>Увійдіть або зареєструйтесь</b></h6>
                </div>
            }
        }

    </div>

</body>
</html>