@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%);
        }

    </style>

</head>
<body>

    <video autoplay loop muted>
        <source src="/images/Fiskas.mp4" type="video/mp4" />
    </video>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</body>
</html>
