@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Підтведження замовлення";
}
<h2>Шановний <b>@User.Identity.Name</b> , Ваше замовлення  в обробці. Очікуйте підтвердження ... </h2>


<p style="font-size:larger">
    <a asp-page="/Numbers/Index"><div style="background-color:burlywood; width: 80px; text-align:center"><h2>OK</h2></div></a>
</p>