@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Підтведження замовлення";
}
<h2>Шановний <b>@User.Identity.Name</b> , Ваше замовлення в обробці. Очікуйте підтвердження ... </h2>
<div style="font-size:large">
    <a asp-page="Index">Повернутись на головну</a>
</div>