@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Підтведження замовлення";
}
<h2>Шановний <b>@User.Identity.Name</b> , Ваше замовлення  в обробці. Очікуйте підтвердження ... </h2>
<h3>Вкажіть свій номкр телефону </h3>

<form method="post">

    <div class="form-group">
        <input type="submit" value="Підтвердити" class="btn btn-primary" />
    </div>

</form>