@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Підтведження замовлення";
}
<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%);
        }

    </style>

</head>
<body>
    <video autoplay loop muted>
        <source src="/images/1055142740-preview.mp4" type="video/mp4" />
    </video>



<h2>Шановний <b>@User.Identity.Name</b> , Ваше замовлення  в обробці. Очікуйте підтвердження ... </h2>


<p style="font-size:larger">
    <a asp-page="/Numbers/Index"><div style="background-color:burlywood; width: 80px; text-align:center"><h2>OK</h2></div></a>
</p>
</body>