@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження зміни пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль змінено. Будь ласка <a asp-page="./Login"> натисніть тут щоб увійти</a>.
</p>
