@page
@model Пилорама.Pages.ContactModel
@{
    ViewData["Title"] = "Контакти";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .image {
            width: 20px;
            height: 25px;
            padding-bottom: 5px;
        }

        .block{
            height:600px;
            background-image:url(/images/Фон_1.jpg);
            background-repeat:no-repeat;
            background-size:cover;
           
        }
    </style>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="block">
      <div style="padding-left: 20px">
       <h1><b>Наші контакти</b></h1>
    <b style="font-size:x-large">
        <img class="image" src="~/images/Київстар.png" /><pb> </pb>
        тел: (067)-784-05-02<pb> </pb> <img class="image" src="~/images/viber.png" /><pb> </pb>
                                          <img class="image" src="~/images/telegram.png" /><pb> </pb>
                                          <img class="image" src="~/images/whatsapp.png" /><pb> </pb>
    </b>
    <p>
    <b style="font-size:x-large">
        <img class="image" src="~/images/Life.png" /><pb> </pb>
        тел: (063)-993-04-15<pb> </pb> <img class="image" src="~/images/viber.png" /><pb> </pb>
                                           <img class="image" src="~/images/telegram.png" /><pb> </pb>
                                           <img class="image" src="~/images/whatsapp.png" /><pb> </pb>
    </b>
    </p>
    <b style="font-size:x-large">
        <img class="image" src="~/images/email_1.jpg" /><pb> </pb>
        sawmill3011@gmail.com
    </b>
    </div>
  </div>
    
</body>
</html>