@page
@model IndexModel
@{
    ViewData["Title"] = "Домашня сторінка";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
  
    <div class="text-center">
        <h1 class="display-4">Вітаємо на сайті замовлень пиломатеріалів</h1>
        
        @if (User.Identity.Name != "Admin@ukr.net" && User.Identity.IsAuthenticated)
        {
            <div class="text-start">
                <a asp-page="./Orders/Index"><b style="font-size:larger">Створити замовлення</b></a>
            </div>
            <div class="text-start">
                <a asp-page="./Numbers/Index"><b style="font-size:larger">Мої замовлення</b></a>
            </div>
        }
        else if(User.Identity.IsAuthenticated)
        {
            <div class="text-start">
                <a asp-page="./Admin/Index"><b style="font-size:larger">Переглянути замовлення</b></a>
            </div>
            <div class="text-start">
                <a asp-page="./AdminNumbers/Index"><b style="font-size:larger">Опрацювати замовлення</b></a>
            </div>
        }
    </div>
    <div style="padding:40px">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="images/Пилорама2.jpg"/>
                    </td>
                    <td>
                        <img src="images/Бруски.jpg"/>
                    </td>
                    <td>
                        <img src="images/Скелет.png"/>
                    </td>
        
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>