@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email успішно підтвердженно";
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <style>
        .back {
            background-image: url(/images/forest.jpg);
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .row {
            align-content:inherit;
            margin: auto;
            min-width: 250px;
            max-width: 30%;
            border-radius: 5px;
            border: 1px solid aqua;
            padding: 20px;
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
            box-shadow: 10px 10px 30px aqua;
        }

        button {
            opacity: 0.3;
        }

            button:hover {
                opacity: 0.7;
                transition: opacity 0.5s ease;
            }
    </style>
</head>
<body class="back">
    <div class="row">
        <h1 style="color:aqua">@ViewData["Title"]</h1>
    </div>
</body>
</html>