@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Заміна пароля";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .back {
            background-image: url(/images/forest.jpg);
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .row {
            margin: auto;
            min-width: 250px;
            max-width: 30%;
            border-radius: 5px;
            border: 1px solid aqua;
            padding: 20px;
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
            box-shadow: 10px 10px 30px aqua;
        }

    </style>
</head>
<body class="back">
    <div class="row">
        <h1 style="color:aqua">@ViewData["Title"]</h1>
        <p style="color:aqua">
            Будь ласка перевірте свій email для зміни пароля.
        </p>
    </div>
</body>
</html>